{% extends "base_form.html.twig" %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-lg-5 col-xl-5">
      <form action="" method="post" class="custom-form">
        <div class="row back_button">
          <a href="{{ app.request.headers.get('referer') }}"
            ><i class="fas fa-arrow-left" style="font-size: 25px"></i>
          </a>
        </div>
        <div class="row justify-content-center">
          <a
            href="{{ path('app_home') }}"
            class="home-logo-link"
            style="text-align: center"
          >
           <img
            class="form-logo"
            src="{{ asset('frontoffice/') }}images/logo-5.png"
            alt="logo mabace deux"
          />
          </a>
        </div>
        {% if error %}
        <div class="alert alert-danger">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}

        <div class="row">
          <h4>Se connecter</h4>
        </div>
        <div class="mb-3">
          <label class="form-label">E-mail </label>
          <input
            type="email"
            name="email"
            value="{{ last_username }}"
            class="form-control"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Mot de passe</label>
          <input type="password" name="password" class="form-control" />
        </div>
        <input
          type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}"
        />

        <div class="mb-3">
          <button type="submit" class="btn btn-success btn-form">
            Se connecter
          </button>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 d-flex justify-content-start">
            <a
              href="{{ path('app_forgot_password') }}"
              class="form-link forgot-password-link"
              >Mot de passe oublié</a
            >
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-end">
            <a
              href="{{ path('app_register') }}"
              class="form-link forgot-password-link"
              style="text-align: right"
              >Créer un compte compte</a
            >
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-12">
            <span class="create-by-link d-flex justify-content-center"
              >Created by
              <a class="__dev" href="https://logonedigital.com/" target="_blank"
                >Logonedigital</a
              >
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
