{% extends "base.html.twig" %} {% block title %} s'inscire - MA.BA.CE.&#x2161;
{% endblock %} {% block body %}
<div id="cursor"></div>
<!-- Header -->

<!-- end Header -->

<style>
  /* .container-form {
    position: relative;
    top: 0%;
  } */
  .form-title {
    color: #432918;
    margin-top: -50px;
  }
  .button {
    background-color: #432918;
    overflow-x: hidden;
  }
</style>

<div class="container-form row justify-content-center">
  <div class="col-12 col-sm-4 col-lg-4 col-xl-5 col-xxl-6">
    <p class="text-center">
      <a href="{{ path('app_home') }}" class="">
        <img
          class=""
          src="{{ asset('frontoffice/') }}images/logo-5.png"
          alt="logo mabace deux"
        />
      </a>
    </p>
    <h1 class="text-center text-uppercase fs-1 form-title">se connecter</h1>
    {{
      form_start(form, {
        attr: {
          class: "form-style-2"
        }
      })
    }}
    <div class="mb-3">
      {{
        form_row(form.firstname, {
          label: false,
          required: false,
          attr: {
            class: "form-control",
            placeholder: "Nom"
          }
        })
      }}
    </div>
    <div class="mb-3">
      {{
        form_row(form.lastname, {
          label: false,
          required: false,
          attr: {
            class: "form-control",
            placeholder: "Prénom"
          }
        })
      }}
    </div>
    <div class="mb-3">
      {{
        form_row(form.email, {
          label: false,
          attr: {
            class: "form-control",
            placeholder: "E-mail"
          }
        })
      }}
    </div>
    <div class="mb-3">
      {{
        form_row(form.password.first, {
          label: false,
          required: false,
          attr: {
            class: "form-control",
            placeholder: "Mot de passe"
          }
        })
      }}
    </div>
    <div class="mb-3">
      {{
        form_row(form.password.second, {
          label: false,
          attr: {
            class: "form-control",
            placeholder: "Confirmez votre mot de passe"
          }
        })
      }}
    </div>
    <div class="row mb-3">
      <div class="col-1 col-lg-1">
        {{
          form_row(form.rgpd, {
            label: false,
            required: false,
            attr: {
              class: "form-check-input",
              id: "defaultCheck1"
            }
          })
        }}
      </div>
      <div class="col-11 cgu-wrapper">
        J'accepte les
        <a href="#" class="cgu-link">conditions générales d'utilisation</a>
      </div>
    </div>
    <button type="submit" class="button button-md button-dark w-100">
      Submit
    </button>
    {{ form_end(form) }}
    {#
    <form class="form-style-2">
      <label>Name</label>
      <input type="text" placeholder="Your name" />
      <label>Email address</label>
      <input type="email" placeholder="Enter your email" required />
      <button type="submit" class="button button-md button-dark w-100">
        Submit
      </button>
    </form>
    #}
  </div>
</div>

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
