{% extends "base.html.twig" %}

{% block body %}

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- Header -->
<!-- end Header -->

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="font-family-secondary">
      Service &#160;: &#160;{{ service.designation }}
    </h3>
  </div>
  <!-- end container -->
</div>

<!-- Blog section  -->
<div class="section">
  <div class="container">
    <div class="row g-5">
      <!-- Blog Posts -->
      <div class="col-12 col-lg-8">
        <!-- Blog Post box 1 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a>
              <img
                      src="{{ asset('uploads/images/ServiceImages'~asset(service.image)) | imagine_filter('blog_image')}}"
                      data-src="{{ absolute_url(asset('uploads/images/ServiceImages'~asset(service.image))) | imagine_filter('blog_image')}}"
                      alt="image faisant référent notre services {{
                      service.slug
                      }} dans le blog de MA.BA.CE.&#x2161;"
              />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                Catégorie :&#160;
                <a
                  href="#"
                  class="font-family-tertiary font-small fw-normal uppercase"
                >
                  {{ service.getServiceCategory() }}</a
                >
              </div>
            </div>
            <h5>{{ service.designation }}</h5>
            <p>
              {{ service.description | raw }}
            </p>
            <a type="button" class="button-text-2 margin-top-20"
               href="" data-toggle="modal" data-target="#createModal">
              Intéressé(e)
            </a>
          </div>
        </div>
        <!-- Pagination -->
      </div>
      <!-- end Blog Posts -->

      <!-- Blog Sidebar -->
      <div class="col-12 col-lg-4 sidebar-wrapper">
        <!-- Sidebar box 2 - Categories -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Nos meilleurs services</h6>
          <div class="owl-carousel owl-nav-overlay" data-owl-items="1" data-owl-nav="true" data-owl-dots="false">
            {% for bestService in bestServices %}
            <div>
              <img                         src="{{ asset('uploads/images/ServiceImages'~asset(bestService.image)) | imagine_filter('blog_image')}}"
                                           data-src="{{ absolute_url(asset('uploads/images/ServiceImages'~asset(bestService.image))) | imagine_filter('blog_image')}}"
                                           alt="image faisant référent notre service {{
                                           bestService.slug
                                           }} de MA.BA.CE.&#x2161;">

            </div>
            {% endfor %}
          </div>
        </div>
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Catégories de Services</h6>
          <ul class="list-category">
            {% for category in servicesCategories %}
            <li>
              <a
                href="{{ path('app_services') }}"
                >{{ category.intitule }}
                <span>{{ category.services | length }}</span></a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Sidebar box 3 - Popular Posts -->


        <!-- Sidebar box 6 - Facebook Like box -->
        <div class="sidebar-box text-center">
          <h6 class="font-small fw-normal uppercase">
            partager cette article sur
          </h6>
          <ul class="list-inline">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-behance"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end Blog Sidebar -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Blog section -->
  {% set submit_url = path('app_services_apply', { slug: service.slug }) %}
  {% include 'annonce/modal.html.twig' with {url: submit_url} %}
{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
