{% extends "base.html.twig" %} {% block body %}

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- Google Maps -->
{#
<div class="container-fluid padding-0">
  <div
    id="map1"
    class="gmap gmap-xl"
    data-latitude="51.513569"
    data-longitude="-0.123443"
  ></div>
</div>
#}
<!-- end Google Maps -->
<style>
  .btn-position {
    position: relative;
    left: 125px;
  }
  @media (max-width: 1199px) {
  .btn-position {
    position: relative;
    left: 100px;
  }
 @media (max-width: 988px) {
  .btn-position {
    position: relative;
    left: 80px;
  }
 }
 @media (max-width: 575px) {
  .btn-position {
    position: relative;
    left: 0;
  }
 }
}
</style>
<!-- Contact section -->
<div class="section">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-md-4">
        <div class="margin-bottom-30">
          <h6 class="fw-normal margin-0">Téléphone:</h6>
          <p>+(237) 71 67 29 69</p>
        </div>
        <div class="margin-bottom-30">
          <h6 class="fw-normal margin-0">Email:</h6>
          <p>contact@mabacedeux.com</p>
        </div>
        <div>
          <h6 class="fw-normal margin-0">Address:</h6>
          <p>MA.BA.CE.&#x2161; S/C BP/25003 YAOUNDE </p>
        </div>
      </div>
      <div class="col-12 col-md-8">
        {{ form_start(form) }}
        {{
                form_row(form.nom, {
                  label: false,
                  attr: {
                    placeholder: "Nom complet"
                  }
                })
              }}
        {{
                form_row(form.email, {
                  label: false,
                  attr: {
                    placeholder: "Email"
                  }
                })
              }}
        {{
              form_row(form.message, {
                label: false,
                attr: {
                  placeholder: "Comment pouvons-nous vous aider ?",
                  id: "message"
                }
              })
            }}
        <button class="btn-position button button-lg button-radius button-outline-dark-2 position" type="submit">
            Envoyer
        </button>
      {{ form_end(form) }}
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Contact section -->

{{ include("./includes/footer.html.twig") }}
{% block javascripts %}
<script src="https://www.google.com/recaptcha/api.js?render=6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe"></script>
<script>
  grecaptcha.ready(function () {
    grecaptcha
      .execute("6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe", {
        action: "homepage",
      })
      .then(function (token) {
        console.log(document.getElementById("contact_captcha"));
        document.getElementById("contact_captcha").value = token;
      });
  });
</script>
{% endblock %} {% endblock %}
