{% extends "base.html.twig" %} {% block title %} Accueil | MA.BA.CE.&#x2161; {%
endblock %} {% block body %}
<div id="cursor"></div>
<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- Hero section -->
<div
  class="owl-carousel owl-nav-overlay owl-dots-overlay"
  data-owl-nav="true"
  data-owl-dots="true"
  data-owl-items="1"
>
  <!-- Slider Item 1 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/home-2.jpeg"
  >
    <div class="section-xl bg-black-03">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h6
              class="uppercase fw-light letter-spacing-1 margin-bottom-20 text-white"
            >
              manjo bangangte central &#x2161;
            </h6>
            <h1 class="fw-bold uppercase letter-spacing-1">
              MA.BA.CE.&#x2161;
            </h1>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 button-font-2"
              href="{{ path('app_about') }}"
              >Explorer</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
  <!-- Slider Item 2 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/home-4.jpeg"
  >
    <div class="section-xl bg-black-03">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h5
              class="uppercase fw-light letter-spacing-1 margin-bottom-20 text-white"
            >
              manjo bangangte central &#x2161;
            </h5>
            <h1 class="fw-bold uppercase letter-spacing-1">
              MA.BA.CE.&#x2161;
            </h1>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 button-font-2"
              href="{{ path('app_about') }}"
              >Explore</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
</div>
<!-- end owl-carousel -->
<!-- end Hero section -->

<!-- Services section -->
{#
<div class="section">
  <div class="container">
    <div class="row g-4 icon-5xl text-center">
      <!-- Icon text box 1 -->
      <div class="col-12 col-md-4">
        <i class="bi bi-star text-dark"></i>
        <h5 class="fw-normal margin-top-10">Social Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
      <!-- Icon text box 2 -->
      <div class="col-12 col-md-4">
        <i class="bi bi-journal-text text-dark"></i>
        <h5 class="fw-normal margin-top-10">Strategy Planning</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
      <!-- Icon text box 3 -->
      <div class="col-12 col-md-4">
        <i class="bi bi-chat-text text-dark"></i>
        <h5 class="fw-normal margin-top-10">Consulting</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
#}
<!-- end Services section -->

<!-- About section -->
<div class="section padding-top-0 margin-top-50">
  <div class="container">
    <div class="row align-items-center g-5">
      <div class="col-12 col-lg-6">
        <img
          class="box-shadow"
          src="{{ asset('frontoffice/') }}images/home-5.jpeg"
          alt="image mabace-deux"
        />
      </div>
      <div class="col-12 col-lg-6">
       <h4 class="fw-light margin-bottom-20 fw-bold">
          PRESENTATION DE MA.BA.CE.&#x2161;
        </h4>
        <p>
          MA.BA.CE.II est une association culturelle au rythme classique qui a
          vu le jour il y a 50 déjà vers les années 70. Elle est basée au
          Cameroun dans la ville de Yaoundé. Elle regroupe la communauté de
          bagangté, peuple du Cameroun en pays bamiléké, humble et bienveillant
          qui se sont réunis pour favoriser les activités des membres, afin de
          pallier à certaines difficultés rencontrées (chômage). Elle permet de
          regrouper des individus qui souhaitent construire un projet commun, en
          partageant leurs connaissances ou leur savoir-faire, dans un but autre
          que la redistribution des bénéfices mais plutôt renforcer les liens
          entre la communauté et valoriser la culture.
        </p>
        <a
          class="button button-lg button-radius button-reveal-right-dark margin-top-30"
          href="#"
          ><i class="bi bi-arrow-right"></i><span>Learn More</span></a
        >
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Progress bars -->

<!-- end Progress bars -->

<!-- Clients section -->
<style>
  .title-blog-section {
    text-align: center !important;
    text-transform: uppercase;
  }
</style>

<div class="section ">
  <div class="container">
    <div class="margin-bottom-50">
      <div class="row g-4">
        <div
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center"
        >
          <h2 class="fw-normal">Tous nos services</h2>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="row">
      {% for service in annonces %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="border-all border-radius padding-40 hover-shadow">
            <h5 class="fw-normal margin-top-10">{{ service.designation }}</h5>
            <p>
                {{ service.description | striptags | slice(0, 200) }}
            </p>

            <a type="button" class="button-text-2 margin-top-20"
               href="{{ path('app_services_apply', {'slug': service.slug}) }}">
                Intéressé(e)
            </a>

        </div>
    </div>
{% endfor %}
    </div>
    </div>
    <!-- end row -->
    <div class="margin-top-50 text-center">
      <a
        class="button button-lg button-radius button-reveal-right-dark margin-top-30"
        href="{{ path('app_services') }}"
        ><i class="bi bi-arrow-right"></i><span>Voir tous</span></a
      >
    </div>
  </div>
  <!-- end container -->
</div>

<!-- end Clients section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
{% endblock %}
