{% extends "base.html.twig" %} {% block title %} Accueil | MA.BA.CE.&#x2161; {%
endblock %} {% block body %}
<div id="cursor"></div>
<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- Hero section -->
<div
  class="owl-carousel owl-nav-overlay owl-dots-overlay"
  data-owl-nav="true"
  data-owl-dots="true"
  data-owl-items="1"
>
  <!-- Slider Item 1 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/home-1.jpg"
  >
    <div class="section-xl bg-black-03">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h6
              class="uppercase fw-light letter-spacing-1 margin-bottom-20 text-white"
            >
              manjo bangangte central &#x2161;
            </h6>
            <h1 class="fw-bold uppercase letter-spacing-1">
              MA.BA.CE.&#x2161;
            </h1>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 button-font-2"
              href="{{ path('app_about') }}"
              >Explorer</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
  <!-- Slider Item 2 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/home-3.jpg"
  >
    <div class="section-xl bg-black-03">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h5
              class="uppercase fw-light letter-spacing-1 margin-bottom-20 text-white"
            >
              manjo bangangte central &#x2161;
            </h5>
            <h1 class="fw-bold uppercase letter-spacing-1">
              MA.BA.CE.&#x2161;
            </h1>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 button-font-2"
              href="{{ path('app_about') }}"
              >Explore</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
</div>
<!-- end owl-carousel -->
<!-- end Hero section -->

<!-- Services section -->
{#
<div class="section">
  <div class="container">
    <div class="row g-4 icon-5xl text-center">
      <!-- Icon text box 1 -->
      <div class="col-12 col-md-4">
        <i class="bi bi-star text-dark"></i>
        <h5 class="fw-normal margin-top-10">Social Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
      <!-- Icon text box 2 -->
      <div class="col-12 col-md-4">
        <i class="bi bi-journal-text text-dark"></i>
        <h5 class="fw-normal margin-top-10">Strategy Planning</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
      <!-- Icon text box 3 -->
      <div class="col-12 col-md-4">
        <i class="bi bi-chat-text text-dark"></i>
        <h5 class="fw-normal margin-top-10">Consulting</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
#}
<!-- end Services section -->

<!-- About section -->
<div class="section padding-top-0 margin-top-50">
  <div class="container">
    <div class="row align-items-center g-5">
      <div class="col-12 col-lg-6">
        <img
          class="box-shadow"
          src="{{ asset('frontoffice/') }}images/col-1.jpg"
          alt=""
        />
      </div>
      <div class="col-12 col-lg-6">
        <h3 class="fw-light margin-bottom-20">
          We believe that teamwork divides the tasks and multiplies the success
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
        <a
          class="button button-lg button-radius button-reveal-right-dark margin-top-30"
          href="#"
          ><i class="bi bi-arrow-right"></i><span>Learn More</span></a
        >
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Progress bars -->
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-4">
      <!-- Progress bar box 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="progress-box">
          <h6 class="font-small fw-normal uppercase">Consulting</h6>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>90%</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Progress bar box 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="progress-box">
          <h6 class="font-small fw-normal uppercase">Social Marketing</h6>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 100%"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>100%</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Progress bar box 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="progress-box">
          <h6 class="font-small fw-normal uppercase">Management</h6>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>75%</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Progress bar box 4 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="progress-box">
          <h6 class="font-small fw-normal uppercase">Branding</h6>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 95%"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>95%</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Progress bar box 5 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="progress-box">
          <h6 class="font-small fw-normal uppercase">Strategy & Planning</h6>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>85%</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Progress bar box 6 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="progress-box">
          <h6 class="font-small fw-normal uppercase">Digital Solutions</h6>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>90%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Progress bars -->

<!-- Parallax section -->
<div
  class="section-xl bg-image parallax margin-bottom-50"
  data-bg-src="{{ asset('frontoffice/') }}images/african-talents.jpg"
>
  <div class="bg-black-05">
    <div class="container">
      <div class="row align-items-center g-4">
        <div class="col-12 col-lg-8 col-xl-7">
          <h1 class="fw-light">Nos services</h1>
          <p class="font-large">
            Découvrez les différents services proposés par les membres de
            l'association.
          </p>
        </div>
        <div class="col-12 col-lg-4 col-xl-5 text-lg-end">
          <a
            class="button button-xl button-radius button-reveal-right-outline-white"
            href="{{ path('app_about') }}"
            ><i class="bi bi-arrow-right"></i><span>Découvrir</span></a
          >
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
<!-- end Parallax section -->

<!-- Clients section -->

{#
<div class="section bg-grey-lighter">
  <div class="container">
    <div
      class="owl-carousel"
      data-owl-nav="true"
      data-owl-dots="false"
      data-owl-margin="50"
      data-owl-autoplay="true"
      data-owl-xs="1"
      data-owl-sm="2"
      data-owl-md="3"
      data-owl-lg="4"
      data-owl-xl="5"
    >
      <!-- Client box 1 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 2 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 3 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 4 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 5 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 6 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 7 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end container -->
</div>
#}

<!-- end Clients section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
{% endblock %}
