{% extends "base.html.twig" %} {% block title %} detail projet |
MA.BA.CE.&#x2161; {% endblock %} {% block body %}
<div id="cursor"></div>
<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- Header -->
<!-- end Header -->

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="font-family-secondary">mono blog.</h3>
  </div>
  <!-- end container -->
</div>

<!-- Blog section  -->
<div class="section">
  <div class="container">
    <div class="row g-5">
      <!-- Blog Posts -->
      <div class="col-12 col-lg-8">
        <!-- Blog Post box 1 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img src="{{ asset('frontoffice/') }}images/col-1.jpg" alt="" />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="#"
                  >Lifestyle</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small">Jan 24, 2019</span>
              </div>
            </div>
            <h5><a href="#">Benefits of Minimalism</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
            <div class="margin-top-20">
              <a class="button-text-1" href="#">Read More</a>
            </div>
          </div>
        </div>
        <!-- Blog Post box 2 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img src="{{ asset('frontoffice/') }}images/col-1.jpg" alt="" />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="#"
                  >Knowledge</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small">Jan 24, 2019</span>
              </div>
            </div>
            <h5><a href="#">10 Books that I will recommend</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
            <div class="margin-top-20">
              <a class="button-text-1" href="#">Read More</a>
            </div>
          </div>
        </div>
        <!-- Blog Post box 3 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img src="{{ asset('frontoffice/') }}images/col-1.jpg" alt="" />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="#"
                  >Health</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small">Jan 24, 2019</span>
              </div>
            </div>
            <h5><a href="#">Benefits of house plants</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
            <div class="margin-top-20">
              <a class="button-text-1" href="#">Read More</a>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <nav>
          <ul class="pagination justify-content-center margin-top-70">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav>
      </div>
      <!-- end Blog Posts -->

      <!-- Blog Sidebar -->
      <div class="col-12 col-lg-4 sidebar-wrapper">
        <!-- Sidebar box 1 - About me -->
        <div class="sidebar-box text-center">
          <h6 class="font-small fw-normal uppercase">About Me</h6>
          <img
            class="img-circle-md margin-bottom-20"
            src="{{ asset('frontoffice/') }}images/img-circle-medium.jpg"
            alt=""
          />
          <p>
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus.
          </p>
          <ul class="list-inline margin-top-20">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
        <!-- Sidebar box 2 - Categories -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Categories</h6>
          <ul class="list-category">
            <li>
              <a href="#">Art <span>11</span></a>
            </li>
            <li>
              <a href="#">Fashion <span>4</span></a>
            </li>
            <li>
              <a href="#">Lifestyle <span>12</span></a>
            </li>
            <li>
              <a href="#">Nature <span>8</span></a>
            </li>
            <li>
              <a href="#">Travel <span>15</span></a>
            </li>
          </ul>
        </div>
        <!-- Sidebar box 3 - Popular Posts -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Popular Posts</h6>
          <!-- Popular post 1 -->
          <div class="popular-post">
            <a href="#">
              <img
                src="{{ asset('frontoffice/') }}images/img-circle-small.jpg"
                alt=""
              />
            </a>
            <div>
              <h6 class="fw-normal"><a href="#">Blog Post with Image</a></h6>
              <span>January 07, 2018</span>
            </div>
          </div>
          <!-- Popular post 2 -->
          <div class="popular-post">
            <a href="#">
              <img
                src="{{ asset('frontoffice/') }}images/img-circle-small.jpg"
                alt=""
              />
            </a>
            <div>
              <h6 class="fw-normal"><a href="#">Blog Post with Image</a></h6>
              <span>January 07, 2018</span>
            </div>
          </div>
          <!-- Popular post 3 -->
          <div class="popular-post">
            <a href="#">
              <img
                src="{{ asset('frontoffice/') }}images/img-circle-small.jpg"
                alt=""
              />
            </a>
            <div>
              <h6 class="fw-normal"><a href="#">Blog Post with Image</a></h6>
              <span>January 07, 2018</span>
            </div>
          </div>
        </div>
        <!-- Sidebar box 4 - Banner Image -->
        <div class="margin-bottom-20">
          <a href="#">
            <img src="{{ asset('frontoffice/') }}images/col-3.jpg" alt="" />
          </a>
        </div>
        <!-- Sidebar box 5 - Tags -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Tags</h6>
          <ul class="tags">
            <li><a href="#">Art</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Inspiration</a></li>
            <li><a href="#">Movie</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Nature</a></li>
            <li><a href="#">Office</a></li>
            <li><a href="#">Painting</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Work</a></li>
          </ul>
        </div>
        <!-- Sidebar box 6 - Facebook Like box -->
        <div class="sidebar-box text-center">
          <h6 class="font-small fw-normal uppercase">Follow on</h6>
          <ul class="list-inline">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-behance"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end Blog Sidebar -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Blog section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
