{% extends "base.html.twig" %} {% block title %} toutes le projets de
MA.BA.CE.&#x2161; {% endblock %} {% block body %}

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="font-family-secondary">mono blog.</h3>
  </div>
  <!-- end container -->
</div>
{{ dump(projets) }}
<!-- Blog section  -->
<div class="section">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <!-- Blog Post box 1 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img src="{{ asset('frontoffice/') }}images/col-1.jpg" alt="" />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="#"
                  >Lifestyle</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small">Jan 24, 2019</span>
              </div>
            </div>
            <h5><a href="#">Benefits of Minimalism</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
            <div class="margin-top-20">
              <a class="button-text-1" href="{{ path('app_projet_detail') }}"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <!-- Blog Post box 2 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img src="{{ asset('frontoffice/') }}images/col-1.jpg" alt="" />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="#"
                  >Knowledge</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small">Jan 24, 2019</span>
              </div>
            </div>
            <h5><a href="#">10 Books that I will recommend</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
            <div class="margin-top-20">
              <a class="button-text-1" href="{{ path('app_projet_detail') }}"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <!-- Blog Post box 3 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img src="{{ asset('frontoffice/') }}images/col-1.jpg" alt="" />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="#"
                  >Health</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small">Jan 24, 2019</span>
              </div>
            </div>
            <h5><a href="#">Benefits of house plants</a></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
            <div class="margin-top-20">
              <a class="button-text-1" href="{{ path('app_projet_detail') }}"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <nav>
          <ul class="pagination justify-content-center margin-top-70">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Blog section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
