{% extends "base.html.twig" %} {% block title %} Tous les projets de
MA.BA.CE.&#x2161; {% endblock %} {% block body %}

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="font-family-secondary">Nos Projets</h3>
  </div>
  <!-- end container -->
</div>
<!-- Blog section  -->
<div class="section">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">

        {% for projet in projets %}
        <!-- Projetcs -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img src="{{ asset('uploads/') }}images/ProjetsImages/{{ projet.image }}" alt="" />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="{{ path('app_projet_detail',{slug: projet.slug}) }}"
                  >Lifestyle</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small">{{ projet.createdAt | date("d/m/Y") }}</span>
              </div>
            </div>
            <h5><a href="{{ path('app_projet_detail',{slug: projet.slug}) }}">{{ projet.intitule }}</a></h5>
            <p>
              {{ projet.description | striptags | slice(0, 900) }}
            </p>
            <div class="margin-top-20">
              <a class="button-text-1" href="{{ path('app_projet_detail',{slug: projet.slug}) }}"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <!-- Pagination -->
        {% endfor %}
        <nav>
          {{ knp_pagination_render(projets,"pagination.html.twig") }}
        </nav>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Blog section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
