{% extends "base.html.twig" %}

{% block seo %}
  {{ sonata_seo_title() }}
  {{ sonata_seo_metadatas() }}
  {{ sonata_seo_link_canonical() }}
{% endblock %}

{% block body %}

  <!-- Header -->
  {{ include("./includes/navbar.html.twig") }}
  <!-- Header -->
  <!-- end Header -->

  <div class="section-sm bg-grey-lighter">
    <div class="container text-center">
      <h3 class="font-family-secondary">{{ projet.intitule }}</h3>
    </div>
    <!-- end container -->
  </div>

  <!-- Blog section  -->
  <div class="section">
    <div class="container">
      <div class="row g-5">
        <!-- Blog Posts -->
        <div class="col-12 col-lg-8">
          <!-- Blog Post box 1 -->
          <div class="margin-bottom-50">
            <div class="hoverbox-8">
              <a>
                <img
                        src="{{ asset('uploads/images/ProjetsImages'~asset(projet.image)) | imagine_filter('blog_image')}}"
                        data-src="{{ absolute_url(asset('uploads/images/ProjetsImages'~asset(projet.image))) | imagine_filter('blog_image')}}"
                        alt="image faisant référent notre projet {{
                        projet.slug
                        }} de MA.BA.CE.&#x2161;"
                />
              </a>
            </div>
            <div class="margin-top-30">
              <div class="d-flex justify-content-between margin-bottom-10">
                <div class="d-inline-flex">

                </div>
                <div class="d-inline-flex">
                <span class="font-small"
                >{{ projet.getCreatedAt().format("M") }}
                  {{ projet.getCreatedAt().format("j") }},
                  {{ projet.getCreatedAt().format("Y") }}</span
                >
                </div>
              </div>
              <h5>{{ projet.intitule}}</h5>
              <p>
                {{ projet.description | raw }}
              </p>
            </div>
          </div>
          <!-- Pagination -->
        </div>
        <!-- end Blog Posts -->

        <!-- Blog Sidebar -->
        <div class="col-12 col-lg-4 sidebar-wrapper">


          <div class="sidebar-box">
            <h6 class="font-small fw-normal uppercase">Nos meilleurs services</h6>
            <div class="owl-carousel owl-nav-overlay" data-owl-items="1" data-owl-nav="true" data-owl-dots="false">
              {% for bestService in bestServices %}
                <div>
                  <img                         src="{{ asset('uploads/images/ServiceImages'~asset(bestService.image)) | imagine_filter('blog_image')}}"
                                               data-src="{{ absolute_url(asset('uploads/images/ServiceImages'~asset(bestService.image))) | imagine_filter('blog_image')}}"
                                               alt="image faisant référent notre service {{
                                               bestService.slug
                                               }} de MA.BA.CE.&#x2161;">

                </div>
              {% endfor %}
            </div>
          </div>

          <!-- Sidebar box 6 - Facebook Like box -->
          <div class="sidebar-box text-center">
            <h6 class="font-small fw-normal uppercase">
              partager cette article sur
            </h6>
            <ul class="list-inline">
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-behance"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end Blog Sidebar -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end Blog section -->

  {{ include("./includes/footer.html.twig") }}

  <!-- Scroll to top button -->
  <div class="scrolltotop">
    <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
      ></a>
  </div>
  <!-- end Scroll to top button -->

  <!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
