<div class="header center dark sticky-autohide">
  <div class="container">
    <!-- Logo -->
    <div class="header-logo">
      <h3><a href="#">mono</a></h3>
      <!-- 
					<img class="logo-dark" src="{{ asset('frontoffice/') }}images/your-logo-dark.png" alt="">
					<img class="logo-light" src="{{ asset('frontoffice/') }}images/your-logo-light.png" alt=""> 
					-->
    </div>
    <!-- Menu -->
    <div class="header-menu">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_about') }}"
            >MA.BA.CE.&#x2161;</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_services') }}"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_blog') }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_projet') }}">Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_contact') }}"
            >contactez-nous</a
          >
        </li>
        {#
        <li class="nav-item">
          <a class="nav-link" href="#">Dropdown</a>
          <ul class="nav-dropdown">
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
          </ul>
        </li>
        #} {#
        <li class="nav-item">
          <a class="nav-link" href="#">Subdropdown</a>
          <ul class="nav-dropdown">
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
              <ul class="nav-subdropdown">
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
              </ul>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
              <ul class="nav-subdropdown">
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        #}
      </ul>
    </div>
    <!-- Menu Extra -->
    <div class="header-menu-extra">
      <ul class="list-inline">
        <li>
          <a href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <!-- Menu Toggle -->
    <button class="header-toggle">
      <span></span>
    </button>
  </div>
  <!-- end container -->
</div>
