<div class="header right sticky-autohide">
  <div class="container">
    <!-- Logo -->
    <div class="header-logo">
      <a href="{{ path('app_home') }}">
        <img
          src="{{ asset('frontoffice/') }}images/logo-mabace-2.png"
          alt="logo mabace deux"
        />
      </a>
    </div>
    <!-- Menu -->
    <div class="header-menu">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_about') }}"
            >MA.BA.CE.&#x2161;</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_services') }}">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_blog') }}">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_projet') }}">Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_new_member') }}"
            >Devenir Membre</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_contact') }}"
            >contactez-nous</a
          >
        </li>
        {#
        <li class="nav-item">
          <a class="nav-link" href="#">Dropdown</a>
          <ul class="nav-dropdown">
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
            </li>
          </ul>
        </li>
        #} {#
        <li class="nav-item">
          <a class="nav-link" href="#">Subdropdown</a>
          <ul class="nav-dropdown">
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
              <ul class="nav-subdropdown">
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
              </ul>
            </li>
            <li class="nav-dropdown-item">
              <a class="nav-dropdown-link" href="#">Dropdown Item</a>
              <ul class="nav-subdropdown">
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
                <li class="nav-subdropdown-item">
                  <a class="nav-subdropdown-link" href="#">Subdropdown Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        #}
      </ul>
    </div>
    <!-- Menu Extra -->
    <div class="header-menu-extra">
      <ul class="list-inline">
        <li>
          <a href="{{ path('app_register') }}"
            ><i class="bi bi-person-circle"></i
          ></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <!-- Menu Toggle -->
    <button class="header-toggle">
      <span></span>
    </button>
  </div>
  <!-- end container -->
</div>
