{% extends "base.html.twig" %}
{% block title %}
	Section Aides | MA.BA.CE.&#x2161;
{% endblock %}
{% block body %}
	{{ include("./includes/navbar.html.twig") }}

	<div id="aide_page" class="container">
		<h1>Liste des Aides Récentes</h1>
		<a href="#" class="btn btn-primary m-2">Nouvelle Aide</a>
		{% for aide in aides %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom du membre</th>
						<th scope="col">Type de l'aide</th>
						<th scope="col">Description de l'aide</th>
						<th scope="col">Date d'enregistrement</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">{{  aide.getId() }}</th>
						<td>{{ aide.getIdMembre().lastname  }}</td>
						<td>{{ aide.getTypeAide() }}</td>
						<td>{{ aide.getDescription() }}</td>
						<td>{{ aide.getCreatedAt() | date("m/d/Y") }}</td>
						<td>
							<a href="#" class="btn btn-primary btn-sm">Voir</a>
						</td>
					</tr>
				</tbody>
			</table>
		{% else %}
			<h4>Aucuns enregistrements pour le moment!</h4>
		{% endfor %}

	</div>

{% endblock %}
