{% extends "base_compta.html.twig" %} {% block title %} membres {% endblock %}
{% block body %}
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  {{ include("./includes/sidebar.html.twig") }}
  <!-- End of Sidebar -->
  
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      {{ include("./includes/navbar-compta.html.twig") }}
      <!-- End of Topbar -->

      <div class="container-fluid rounded bg-white">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{member |upper}}</span><span class="text-black-50">{{member.phone}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Informations du membre</h4>
                </div>
                <div class="row mt-2">
                    <div class="row">
                      <div class="col-md-4"><p>Nom et Prénom :</p></div>
                      <div class="col-md-8"><p>{{member | upper}}</p></div>
                      <div class="col-md-4"><p>N° de CNI :</p></div>
                      <div class="col-md-8"><p>{{member.cni |upper}}</p></div>
                      <div class="col-md-4"><p>Matricule membre:</p></div>
                      <div class="col-md-8"><p>{{member.matricule|upper}}</p></div>
                      <div class="col-md-4"><p>Dette membre:</p></div>
                      <div class="col-md-8"><p>{{member.emprunts|length}}</p></div>
                      <div class="col-md-4"><p>Sanction membre:</p></div>
                      <div class="col-md-8"><p>{{member.sanctions|length}}</p></div>
                      <div class="col-md-4"><p>Aide Membre:</p></div>
                      <div class="col-md-8"><p>{{member.aides|length}}</p></div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center "><h4 class="text-right">Quelque actions</h4></div><br>
                <div class="row">
                  <div class="col-md-6"><a
            href="{{path("app_dashboard_add_emprunt",{matricule:member.matricule})}}"
            class="btn btn-primary"
            > Octroyer un Emprunt</a
          ></div> 
                <div class="col-md-6"><a
            href="{{path("app_dashboard_add_sanction",{matricule:member.matricule})}}"
            class="btn btn-primary"
            > Sanctionné</a
          ></div>
          <div class="col-md-6 mt-2"><a
            href="{{path("app_dashboard_aide_new_from_member_profil",{matricule:member.matricule})}}"
            class="btn btn-primary"
            > Aide</a
          ></div>
                </div>
                 
            </div>
        </div>
    </div>
</div>
</div>
</div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {{ include("./includes/footer-compta.html.twig") }}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %}
<!-- Bootstrap core JavaScript-->
<script src="{{ asset('espace-compta/') }}vendor/jquery/jquery.min.js"></script>
<script src="{{
    asset('espace-compta/')
  }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{
    asset('espace-compta/')
  }}vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('espace-compta/') }}js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="{{
    asset('espace-compta/')
  }}vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{
    asset('espace-compta/')
  }}vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="{{ asset('espace-compta/') }}js/demo/datatables-demo.js"></script>
{% endblock %}
