{% extends "base.html.twig" %} {% block body %}

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="font-family-secondary">
      Article &#160;: &#160;{{ post.title }}
    </h3>
  </div>
</div>

<!-- Blog section  -->
<div class="section">
  <div class="container">
    <div class="row g-5">
      <!-- Blog Posts -->
      <div class="col-12 col-lg-8">
        <!-- Blog Post box 1 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a>
              <img
                src="{{ asset('uploads/images/BlogImages'~asset(post.image)) | imagine_filter('blog_image')}}"
                data-src="{{ absolute_url(asset('uploads/images/BlogImages'~asset(post.image))) | imagine_filter('blog_image')}}"
                alt="image faisant référent notre articles {{
                  post.slug
                }} dans le blog de MA.BA.CE.&#x2161;"
              />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                Thématique :&#160;
                <a
                  href="{{
                    path('app_blog_by_category', { slug: catPost.slug })
                  }}"
                  class="font-family-tertiary font-small fw-normal uppercase"
                >
                  {{ catPost.designation }}</a
                >
              </div>
              <div class="d-inline-flex">
                <span class="font-small"
                  >{{ post.getCreatedAt().format("M") }}
                  {{ post.getCreatedAt().format("j") }},
                  {{ post.getCreatedAt().format("Y") }}.</span
                >
              </div>
            </div>
            <h5>{{ post.title }}</h5>
            <p>
              {{ post.content | raw }}
            </p>
          </div>
        </div>
        <!-- Pagination -->
      </div>
      <!-- end Blog Posts -->

      <!-- Blog Sidebar -->
      <div class="col-12 col-lg-4 sidebar-wrapper">
        <!-- Sidebar box 1 - About me -->
        <div class="sidebar-box text-center">
          <h6 class="font-small fw-normal uppercase">Auteur</h6>
          <img
            class="img-circle-md margin-bottom-20"
            src="{{ asset('frontoffice/') }}images/image-blank-author.jpg"
            alt=""
          />
          <p>
            Cette articles a été redigé par l'administrateur du site
            MA.BA.CE.&#x2161;
          </p>
          <ul class="list-inline margin-top-20">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
        <!-- Sidebar box 2 - Categories -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Nos Thématiques</h6>
          <ul class="list-category">
            {% for category in categoriesPost %}
            <li>
              <a
                href="{{
                  path('app_blog_by_category', { slug: category.slug })
                }}"
                >{{ category.designation }}
                <span>{{ category.posts | length }}</span></a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Sidebar box 3 - Popular Posts -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Nos derniers posts</h6>
          {% for lastPost in lastPosts %}
          <div class="popular-post">
            <a href="{{ path('app_blog_detail', { slug: lastPost.slug }) }}">
              <img
                src="{{ asset('uploads/images/BlogImages'~asset(lastPost.image)) | imagine_filter('blog_min_image')}}"
                alt=" {{ lastPost.slug }} "
              />
            </a>
            <div>
              <h6 class="fw-normal">
                <a
                  href="{{ path('app_blog_detail', { slug: lastPost.slug }) }}"
                  >{{ lastPost.title | slice(0,30) }}</a
                >
              </h6>
              <span
                >{{ lastPost.getCreatedAt().format("M") }}
                {{ lastPost.getCreatedAt().format("j") }},
                {{ lastPost.getCreatedAt().format("Y") }}</span
              >
            </div>
          </div>
          {% endfor %}
        </div>
        {#
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Nos derniers posts</h6>
          <div class="popular-post">
            <a href="#">
              <img
                src="{{ asset('uploads/images/BlogImages'~asset(post.image)) }}"
                alt=""
              />
            </a>
            <div>
              <h6 class="fw-normal"><a href="#">Blog Post with Image</a></h6>
              <span>January 07, 2018</span>
            </div>
          </div>
        </div>
        #}
        <!-- Sidebar box 4 - Banner Image -->
        <div class="margin-bottom-20">
          <a href="#">
            <img src="{{ asset('frontoffice/') }}images/col-3.jpg" alt="" />
          </a>
        </div>

        <!-- Sidebar box 6 - Facebook Like box -->
        <div class="sidebar-box text-center">
          <h6 class="font-small fw-normal uppercase">
            partager cette article sur
          </h6>
          <ul class="list-inline">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end Blog Sidebar -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Blog section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
