{% extends "base.html.twig" %} {% block seo %}
{{ sonata_seo_title() }}
{{ sonata_seo_metadatas() }}
{{ sonata_seo_link_canonical() }}
{% endblock %} {% block body %}

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- Header -->
<!-- end Custom Cursor -->

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="font-family-secondary">
      Découvrez toutes les actualités autour de MA.BA.CE .&#x2161;
    </h3>
  </div>
  <!-- end container -->
</div>
<script>
  function chooseCategory(cat, slug) {
    const url = new URL(window.location.href);

    fetch(url.pathname + "?" + "catSlug=" + slug.toString() + "&ajax=1", {
      headers: {
        "X-Requested-With": "XMLHttpRequest",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        var content = document.getElementById("blog_container");
        var newLabel = document.getElementById("labelChoosen");
        //console.log(data.content)
        newLabel.innerHTML =
          slug + '<i class="uil iconify" data-icon="mdi:chevron-down"></i>';

        content.innerHTML = data.content;
        history.pushState(
          {},
          null,
          url.pathname + "?" + "catSlug=" + slug.toString()
        );
      })
      .catch((e) => console.log(e));
  }
</script>
{% set queryParams = app.request.query.all |filter((v,k)=>k!="page") %}
<!-- Blog Posts -->
<div class="section">
  <div class="container">
    <div class="sec-center">
      <div class="dropdown">
        {% if queryParams is not empty and queryParams.catSlug is not empty %}
        {% if queryParams.catSlug == "Tous" %}
        <button
          class="btn button-outline-dark-2 dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="labelChoosen"
          style="position: relative; left: -65px"
        >
          Tous
          <i class="uil iconify" data-icon="mdi:chevron-down"></i>
        </button>
        {% else %} {% for cat in categoriesPost %} {% if cat.designation ==
        queryParams.catSlug %}
        <button
          class="btn button-outline-dark-2 dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="labelChoosen"
        >
          {{ cat.designation }}
          <i class="uil iconify" data-icon="mdi:chevron-down"></i>
        </button>
        {% endif %} {% endfor %} {% endif %} {% else%}
        <button
          class="btn button-outline-dark-2 dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="labelChoosen"
        >
          Filtres par thématique
          <i class="uil iconify" data-icon="mdi:chevron-down"></i>
        </button>
        {% endif %}
        <div class="dropdown-menu" aria-labelledby="labelChoosen">
          <a class="dropdown-item" href="javascript:chooseCategory(0,'Tous');"
            >Tous <i class="uil uil-arrow-right"></i
          ></a>
          {% for category in categoriesPost %}
          <a
            class="dropdown-item"
            href="javascript:chooseCategory({{ category.id }},'{{
              category.designation
            }}');"
            >{{ category.designation }} <i class="uil uil-arrow-right"></i
          ></a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="blog_container" class="row">
      <!-- Masonry Items -->
      {{ include("./blog/blogList.html.twig") }}
    </div>
    <!-- end masonry -->
    <!-- Pagination -->
    <nav>
      {{ knp_pagination_render(posts, "pagination.html.twig") }}
    </nav>
  </div>
  <!-- end container -->
</div>
<!-- end Blog Posts -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
