{% extends "base.html.twig" %} {% block title %} Accueil | MA.BA.CE.&#x2161; {%
endblock %} {% block body %}

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- Header -->
<!-- end Custom Cursor -->

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="font-family-secondary">mono blog.</h3>
  </div>
  <!-- end container -->
</div>

<!-- Blog Posts -->
<div class="section">
  <div class="container">
    <div class="masonry masonry-column-3 masonry-spacing-40">
      <!-- Masonry Item 1 -->
      <div class="masonry-item">
        <div class="hoverbox-9 margin-bottom-20">
          <a href="#">
            <img
              src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
              alt=""
            />
            <div class="content bg-black-04">
              <span
                class="font-family-tertiary font-small fw-normal uppercase text-white"
                >Feb 6</span
              >
            </div>
          </a>
        </div>
        <h5 class="fw-normal">
          <a href="{{ path('app_blog_detail') }}">Blog Post with Image</a>
        </h5>
        <p>
          Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus...
        </p>
      </div>
      <!-- Masonry Item 2 -->
      <div class="masonry-item">
        <div class="hoverbox-9 margin-bottom-20">
          <a href="#">
            <img src="{{ asset('frontoffice/') }}images/col-2.jpg" alt="" />
            <div class="content bg-black-04">
              <span
                class="font-family-tertiary font-small fw-normal uppercase text-white"
                >Feb 6</span
              >
            </div>
          </a>
        </div>
        <h5 class="fw-normal">
          <a href="{{ path('app_blog_detail') }}">Blog Post with Image</a>
        </h5>
        <p>
          Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus...
        </p>
      </div>
      <!-- Masonry Item 3 -->
      <div class="masonry-item">
        <div class="hoverbox-9 margin-bottom-20">
          <a href="#">
            <img
              src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
              alt=""
            />
            <div class="content bg-black-04">
              <span
                class="font-family-tertiary font-small fw-normal uppercase text-white"
                >Feb 6</span
              >
            </div>
          </a>
        </div>
        <h5 class="fw-normal">
          <a href="{{ path('app_blog_detail') }}">Blog Post with Image</a>
        </h5>
        <p>
          Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus...
        </p>
      </div>
      <!-- Masonry Item 4 -->
      <div class="masonry-item">
        <div class="hoverbox-9 margin-bottom-20">
          <a href="#">
            <img
              src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
              alt=""
            />
            <div class="content bg-black-04">
              <span
                class="font-family-tertiary font-small fw-normal uppercase text-white"
                >Feb 6</span
              >
            </div>
          </a>
        </div>
        <h5 class="fw-normal">
          <a href="{{ path('app_blog_detail') }}">Blog Post with Image</a>
        </h5>
        <p>
          Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus...
        </p>
      </div>
      <!-- Masonry Item 5 -->
      <div class="masonry-item">
        <div class="hoverbox-9 margin-bottom-20">
          <a href="#">
            <img src="{{ asset('frontoffice/') }}images/col-2.jpg" alt="" />
            <div class="content bg-black-04">
              <span
                class="font-family-tertiary font-small fw-normal uppercase text-white"
                >Feb 6</span
              >
            </div>
          </a>
        </div>
        <h5 class="fw-normal"><a href="#">Blog Post with Image</a></h5>
        <p>
          Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus...
        </p>
      </div>
      <!-- Masonry Item 6 -->
      <div class="masonry-item">
        <div class="hoverbox-9 margin-bottom-20">
          <a href="#">
            <img src="{{ asset('frontoffice/') }}images/col-2.jpg" alt="" />
            <div class="content bg-black-04">
              <span
                class="font-family-tertiary font-small fw-normal uppercase text-white"
                >Feb 6</span
              >
            </div>
          </a>
        </div>
        <h5 class="fw-normal"><a href="#">Blog Post with Image</a></h5>
        <p>
          Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus...
        </p>
      </div>
    </div>
    <!-- end masonry -->
    <!-- Pagination -->
    <nav>
      <ul class="pagination justify-content-center margin-top-70">
        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
  <!-- end container -->
</div>
<!-- end Blog Posts -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
