<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% block seo %} {% endblock %}
    <title>{% block title %}MA.BA.CE.II{% endblock %}</title>

    <link
      rel="shortcut icon"
      href="{{ asset('frontoffice/') }}images/favicon.png"
    />

    {# Run `composer require symfony/webpack-encore-bundle` to start using
    Symfony UX #} {% block stylesheets %}
    <link
      href="{{ asset('frontoffice/') }}plugins/bootstrap/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ asset('frontoffice/') }}css/additionnal.css"
      rel="stylesheet"
    />
    <link
      href="{{
        asset('frontoffice/')
      }}plugins/owl-carousel/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="{{
        asset('frontoffice/')
      }}plugins/owl-carousel/owl.theme.default.min.css"
      rel="stylesheet"
    />
    <link
      href="{{
        asset('frontoffice/')
      }}plugins/magnific-popup/magnific-popup.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ asset('frontoffice/') }}plugins/sal/sal.min.css"
      rel="stylesheet"
    />
    <link href="{{ asset('frontoffice/') }}css/theme.css" rel="stylesheet" />
    {#
    {{
      encore_entry_link_tags("app")
    }}
    #} {% endblock %}
    <link
      href="{{
        asset('frontoffice/')
      }}plugins/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="{{ asset('frontoffice/') }}plugins/font-awesome/css/all.css"
      rel="stylesheet"
    />
    {% block javascripts %} {#
    {{
      encore_entry_script_tags("app")
    }}
    #} {% endblock %}
  </head>
  <body>
    {% block body %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ asset('frontoffice/') }}plugins/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <script src="{{ asset('frontoffice/') }}plugins/plugins.js"></script>
    <script src="{{ asset('frontoffice/') }}js/functions.js"></script>
  </body>
</html>
